<!DOCTYPE html>
<html>
<head>
    <title>Awareness & Local Development</title>
</head>
<body>
    <h1>Awareness & Community Development</h1>

    <ul>
        <li><a href="/awareness/tourism">Tourism & Cleanliness</a></li>
        <li><a href="/awareness/temples">Temples & Religious Places</a></li>
        <li><a href="/awareness/food">Food Areas & Hygiene</a></li>
        <li><a href="/awareness/rules">Cleanliness Rules & Tips</a></li>
    </ul>

    <a href="/">Back to Home</a>
</body>
</html>
