{% extends "citizen_base.html" %}
{% block content %}

<h2 class="text-center mb-4">Awareness Hub</h2>

<div class="row">
    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h5>Tourism</h5>
            <p>Clean & responsible tourism</p>
            <a href="/awareness/tourism" class="btn btn-success btn-sm">Explore</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h5>Temples</h5>
            <p>Respect & cleanliness</p>
            <a href="/awareness/temples" class="btn btn-success btn-sm">Explore</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h5>Food Areas</h5>
            <p>Hygiene & waste management</p>
            <a href="/awareness/food" class="btn btn-success btn-sm">Explore</a>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 text-center">
            <h5>Guidelines</h5>
            <p>Do’s & Don’ts</p>
            <a href="/awareness/guidelines" class="btn btn-success btn-sm">Explore</a>
        </div>
    </div>
</div>

{% endblock %}
