{% extends "base.html" %}
{% block content %}

<div class="d-flex gap-2 mb-4">

    <a href="{{ url_for('auth.authority_analytics') }}"
       class="btn btn-outline-success">
       View Analytics Dashboard
    </a>

    <a href="{{ url_for('auth.authority_events') }}"
       class="btn btn-outline-success">
       Manage Cleaning Events
    </a>

</div>



{% if complaints %}
<table class="table table-bordered table-striped">
    <thead class="table-success">
<tr>

<th>ID</th>
<th>Type</th>
<th>Description</th>
<th>Image</th>
<th>Area</th>
<th>Pincode</th>
<th>Landmark</th>
<th>Status</th>
<th>Date</th>

</tr>
</thead>

    <tbody>
        {% for c in complaints %}
<tr>

<td>{{ c[0] }}</td>

<td>{{ c[1] }}</td>

<td>{{ c[2] }}</td>

<td>
    {% if c[3] %}
        <img src="{{ url_for('static', filename='uploads/' ~ c[3]) }}" width="80">
    {% else %}
        No Image
    {% endif %}
</td>

<td>{{ c[4] }}</td>

<td>{{ c[5] }}</td>

<td>{{ c[6] }}</td>

<td>
    <form method="POST" action="{{ url_for('auth.update_complaint_status', complaint_id=c[0]) }}">
        <select name="status" class="form-control">
            <option value="Pending" {% if c[7]=='Pending' %}selected{% endif %}>Pending</option>
            <option value="Resolved" {% if c[7]=='Resolved' %}selected{% endif %}>Resolved</option>
        </select>
        <button class="btn btn-success btn-sm mt-1">Update</button>
    </form>
</td>

<td>{{ c[8].strftime('%d %b %Y, %I:%M %p') if c[8] else '' }}</td>

</tr>
{% endfor %}


    </tbody>
</table>
{% else %}
<p class="text-center">No complaints found.</p>
{% endif %}

{% endblock %}
