{% extends "citizen_base.html" %}

{% block content %}
<h2>Welcome, {{ session.name }} 👋</h2>
<p class="text-muted">
    Use the menu on the left to report issues, track complaints, learn about cleanliness, or participate as a volunteer.
</p>

<div class="alert alert-success mt-4">
    🌱 Together, we can build a cleaner and healthier community.
</div>
<div class="card mt-4 p-4">

    <h4>📊 மதுரை சுத்த நிலை</h4>

    <p><b>Total Complaints:</b> {{ total_reports }}</p>
    <p><b>Resolved:</b> {{ resolved_reports }}</p>
    <p><b>Pending:</b> {{ pending_reports }}</p>

    <hr>

    <div style="
    margin-top:20px;
    width:100%;
    height:280px;
    overflow:hidden;
    border-radius:12px;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
">

    <img src="{{ url_for('static', filename=emotion_image) }}"
         style="
             width:100%;
             height:100%;
             object-fit:contain;
             background:#f8f9fa;
         ">

</div>

<h4 style="
    margin-top:20px;
    text-align:center;
    color:#198754;
    font-weight:bold;
">
    {{ slogan }}
</h4>

</div>
{% endblock %}
