{% extends "base.html" %}
{% block content %}

<h2 class="mb-4 text-center">My Reports</h2>

{% if complaints %}
<table class="table table-bordered table-striped">
    <thead class="table-success">
        <tr>
            <th>ID</th>
            <th>Type</th>
            <th>Description</th>
            <th>Image</th>
            <th>Status</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for c in complaints %}
        <tr>
            <td>{{ c[0] }}</td>
            <td>{{ c[1] }}</td>
            <td>{{ c[2] }}</td>
            <td>
                {% if c[4] %}
                    <img src="{{ url_for('static', filename='uploads/' ~ c[4]) }}"
                         width="80">
                {% else %}
                    No Image
                {% endif %}
            </td>
            <td>{{ c[3] }}</td>
            <td>{{ c[5] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
<p class="text-center">No reports submitted yet.</p>
{% endif %}

{% endblock %}
